.menuBottom {
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.95);
  border-top: 1px grey solid;
}


.w50 {
  width: 50px !important;
}


.m0 {
  margin: 0 !important;
}


.p0 {
  padding: 0 !important;
}


.m5px {
  margin: 5px !important;
}


.m1px {
  margin: 1px !important;
}

.m2px {
  margin: 2px !important;
}

.m10px {
  margin: 10px !important;
}


.p1px {
  padding: 1px !important;
}

.p2px {
  padding: 2px !important;
}

.p5px {
  padding: 5px !important;
}


.p10px {
  padding: 10px !important;
}

.pointer {
  cursor: pointer !important;
}

.text {
  cursor: text !important;
}

.tac {
  text-align: center !important;
}

.label {
  font-weight: normal !important;
  font-size: 14px !important;
}

